<%- include("partials/header"); -%>
<p><b> BE.(CBCS) Feb/Mar-2023 Results </b></p>

<% if(display == true){ %>
    <%- include("partials/marks",{Rollno:Rollno, gender:gender, Name:Name}); -%>
<%}%>

<div class="outer">
    <div class="inputsection bgwhite">
        <form autocomplete="off" method="post" action="">
            <input autocomplete="false" name="hidden" type="text" style="display:none;">
            <label for=""><b>Enter the hall ticket number :</b></label>
        <input type="number" name="rollno">
        
        <button type="submit" name="button" class="red">Submit</button>  
    </form>
</div>
<div class="info">
    <p class="red" style="margin: 0px;">Please Enter 12 Digit Hall Ticket Number Ex : 160320733021,160320733021</p>
</div>
</div>


<%- include("partials/footer"); -%>
